@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    border: none;
}

html::-webkit-scrollbar {
    width: .5rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: #d3ad7f;
}

body {
    background-color: #000;
}

.background {
    background-image: url(img/home-img.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding-top: 1.5rem;
    align-items: center;
}

.logo img {
    width: 75px;
    height: auto;
    margin-left: 5rem;
}

ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #FFF;
    transition: 0.3s;
}

ul li a:hover {
    text-transform: capitalize;
    color: rgb(101, 110, 3);
    border-bottom: solid 1px;
}


.c-icon {
    margin-right: 5rem;
}

.icnone ion-icon {
    color: #FFF;
    font-size: 2rem;
    cursor: pointer;
}

hr {
    border-bottom: solid 0.1px;
    color: rgb(54, 46, 46);
    margin-top: 15px;
}

.c-title {
    margin-left: 5rem;
    margin-top: 10rem;
}

.c-title h1 {
    color: #FFF;
    font-size: 5rem;
}

.c-title p {
    color: rgb(231, 208, 208);
    line-height: 2rem;
    font-size: 1.8rem;
    font-weight: 100;
}

.c-title button {
    margin-top: 2rem;
    background-color: #d3ad7f;
    color: #FFF;
    font-size: 1.2rem;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.c-title button:hover {
    letter-spacing: 2px;
    transition: 0.3s all;
}

.secao-1 {
    padding: 5rem;
}

.secao-1 h1 {
    align-items: center;
    text-align: center;
    color: #FFF;
    font-size: 3rem;
}

.secao-1 span {
    color: #d3ad7f;
}

.sobre-nos {
    display: flex;
    align-items: center;
    background-color: #13131a;
    max-width: 100%;
    width: 100%;
    margin-top: 2rem;
}

.sobre-nos img {
    max-width: 100%;
    width: 80rem;
    height: auto;
}

.sobre-nos-titulo {
    margin-left: 1.3rem;
}

.sobre-nos-titulo h2 {
    color: #FFF;
    font-size: 2rem;
}

.sobre-nos-titulo p {
    color: #ccc;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-top: 1rem;
    width: 45rem;
}

.sobre-nos-titulo button {
    margin-top: 2rem;
    background-color: #d3ad7f;
    color: #FFF;
    font-size: 1.2rem;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.sobre-nos-titulo button:hover {
    letter-spacing: 2px;
    transition: 0.3s all;
}

.secao-2 h1 {
    text-align: center;
    align-items: center;
    color: #FFF;
    font-size: 3rem;
}

.secao-2 span {
    color: #d3ad7f;
}

.container-card-1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.card {
    border: solid 1px rgba(255, 255, 255, .3);
    padding: 5rem;
    align-items: center;
    text-align: center;
    max-width: 100%;
    width: 25rem;
    height: 23rem;
}

.card:hover {
    transform: scale(1.1);
    transition: 0.5s all;
    background-color: #0d0d0f;
}

.card img {
    width: 120px;
    height: auto;
}

.card h3 {
    font-size: 1.5rem;
    color: #FFF;
}

.preco {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.preco p {
    color: #ccc;
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-right: .5rem;
}

.card button {
    margin-top: 2rem;
    background-color: #d3ad7f;
    color: #FFF;
    font-size: 1.2rem;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.card span {
    color: #FFF;
    font-weight: lighter;
    text-decoration: line-through;
    font-size: 1rem;
}

#container-card-2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 1rem;
}